[submodule "src/sam2_ros/src/segment-anything-2"]
	path = src/sam2_ros/src/segment-anything-2
	url = https://github.com/facebookresearch/sam2

[submodule "src/sphereformer_ros/src/SphereFormer"]
	path = src/sphereformer_ros/src/SphereFormer
	url = https://github.com/dvlab-research/SphereFormer
[submodule "src/ultrafastv2_ros/src/UltraFast"]
	path = src/ultrafastv2_ros/src/UltraFast
	url = https://github.com/ibaiGorordo/Ultrafast-Lane-Detection-Inference-Pytorch-
